/*------- RESET -------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------- GENERAL -------*/
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #DADBD4;
}

header {
    max-width: 100%;
    height: 50px;
}

/*------- TYPOGRAPHY -------*/
.text-underline {
    text-decoration: underline;
}

.sz-font-12 {
    font-size: 12px;
}

/*------- UTILITY -------*/
.cursor {
    cursor: pointer;
}

.pdg-lr-20 {
    padding: 0px 20px;
}

.gap-10 {
    gap: 10px;
}

.circle {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    line-height:35px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    cursor: pointer;
}

.fa-bell-slash {
    line-height: inherit;
}

.avatar-user {
    width: 40px;
    border-radius: 50%;
}

.avatar-contact {
    width: 45px;
    border-radius: 50%;
}

/*------- COLORS -------*/

.dark-green {
    background-color: #009688;
}

.light-blue {
    background-color: #8EDAFC;
}

.grey {
    background-color: #EAEAEA;
}

.white {
    background-color: white;
}

.color-message {
    background-color: #F3EEEA;
}

/*------- BUTTONS -------*/

.btn-search {
    background-color: transparent;
    border: transparent;
    margin: 0px 10px;
    cursor: pointer;
}

.btn-message {
    background-color: transparent;
    font-size: 18px;
    border: transparent;
    margin: 0px 10px;
    cursor: pointer;
}

/*------- LAYOUT -------*/
.container {
    margin: 0 auto;
    width: 70%;
    height: 60%;
    display: flex;
    border: 1px solid #D6D6D6;
    border-top: none;
}

/*------- ms aside -------*/

.ms-aside {
    width: calc(100% / 3);
    height: 100%;
    border-right: 1px solid #D6D6D6;
}

.top-aside {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-aside i, .top-main i {
    color: #B1B1B1;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.icons-top-aside, .icons-top-main {
    display: flex;
}

.active-desk {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.active-desk i {
    color:#8EDAFC;
    font-size: 16px;
}

.active-desk a {
    color: #6E7577;
}

.active-desk-text {
    display: flex;
    flex-direction: column;
}

.input-search {
    height: 40px;
    display: flex;
    align-items: center;    
}

.search-bar {
    width: 90%;
    border: none;
    border-radius: 20px;
    padding: 4px 16px;
}

.contacts-list {
    width: 100%;
    height: calc(500px - 152px);
    overflow-y: auto;
}

.contact-bar {
    height: 60px;
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.active {
    background-color: #eaeaea;
}

/*------- ms main -------*/

.ms-main {
    width: calc((100% / 3) * 2);
    height: 500px;
}

.top-main {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-main {
    width: 100%;
    height: calc(100% - 52px);
}

.chat-container {
    width: 100%;
    height: 90%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 15px;
}

.message{
    min-width: 150px;
    width:40%;
    margin: 14px;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.sent{
    background-color: #D5F9BA;
    margin-left: auto;
}

.received{
    background-color: white;
}

.usermessage-container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text-message {
    width: 80%;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;   
}

.usermessage-container button {
    color: #6E7577;
} 


